html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	width: 100%;
	height: 100%;
	background: #343434;
	font-family: 'PT Sans', sans-serif;
	color: white;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button:active, button:focus{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* ===== Initializr Styles ==================================================
   Author: plan K
   ========================================================================== */

$breakpoints: (mobile: 480px, tablet: 768px, portable: 1140px, desktop: 1280px);

html { font-size: 42%;
	@include media("screen", ">=tablet") { font-size: 46%; }
	@include media("screen", ">=portable") { font-size: 55%; }
	@include media("screen", ">=desktop") { font-size: 62.5%; }
}

body { font-size: 20px; font-size: 2rem;

	width: 100%;
	height: 100%;
	
	img { max-width: 100%; height: auto;
		&.aligncenter { display: block; margin: 0 auto; }
		&.alignleft { float: left; margin: 0 5px 0 0; }
		&.alignright { float: right; margin: 0 0 0 5px; }
	}

	.mobile-aligncenter {
		@include media("screen", "<tablet") { text-align: center; }
	}
	.mobile-alignright {
		@include media("screen", "<tablet") { text-align: right; }
	}

	.tablet-aligncenter {
		@include media("screen", ">=tablet", "<portable") { text-align: center; }
	}
	.tablet-alignright {
		@include media("screen", ">=tablet", "<portable") { text-align: right; }
	}

	.aligncenter {
		@include media("screen", ">=portable") { text-align: center; }
	}
	.alignright {
		@include media("screen", ">=portable") { text-align: right; }
	}

	a {
		&.nochange { color: inherit; text-decoration: none; }
	}

	.wrapper { max-width: 432px; width: 90%; margin: 0 5%;
		@include media("screen", ">=mobile") { margin: 0 auto; width: auto; }
		@include media("screen", ">=tablet") { max-width: 691px; }
		@include media("screen", ">=portable") { max-width: 1026px; }
		@include media("screen", ">=desktop") { max-width: 1200px; }
	}

/* end body */

	$green : #8dc63f;
	
	background: url(../img/bg_green_bday_2017.jpg) left center no-repeat;
	background-size: cover;
	position: absolute;
	top: 0; left: 0; right: 0;bottom: 0;

	
	.center{
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;left: 0; right: 0; bottom: 0;
		.width100{
			width: 100%;
		}
	}

	
	.logo{
		width: 150px;height: 65px;
		position: absolute;
		right: 10px;
		bottom: 10px;
		#logo_pk{
			width: 100%;
			height: 100%;
			display: block;
			background: url(../img/logo_pk_bday.png) center center no-repeat;
			background-size: cover;
		}
	}
	
	.green_box{
//		position: absolute;
//		top: -15px;
//		left: 30%;
//		right: 30%;
//		height: 50px;
//		background: $green;
//		transform: rotate(-5deg);
//		transform-origin: bottom left;
		display: none;

		position: absolute;
		left: 30vw;
		top: -1px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6.7vw 40vw 0 1.3vw;
		border-color: $green transparent transparent transparent;
		@media (max-aspect-ratio: 16/11) , (min-height: 900px) {
			display: block;
		}
	}
	.text1{
		margin: 0 auto;
		width: 288px;
		@media (min-width: 420px) {
			width: 400px;
		}
		@media (min-width: 600px) {
			width: 480px; 
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 660px) {
			width: 560px;
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 840px) {
			width: 640px;
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 900px) {
			width: 800px;
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 1100px) {
			width: 960px;
			@media (max-height: 750px) {width: 800px; }
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 1400px) {
			width: 1120px;
			@media (max-height: 840px) {width: 960px; }
			@media (max-height: 750px) {width: 800px; }
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 1600px) {
			width: 1280px;
			@media (max-height: 930px) {width: 1120px; }
			@media (max-height: 840px) {width: 960px; }
			@media (max-height: 750px) {width: 800px; }
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		p{
			text-align: center;
			span{
				
			}
		}
	}
	.text2{
		margin: 0 auto;
		width: 288px;
		@media (min-width: 420px) {
			width: 400px;
		}
		@media (min-width: 600px) {
			width: 480px; 
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 660px) {
			width: 560px;
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 840px) {
			width: 640px;
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 900px) {
			width: 800px;
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 1100px) {
			width: 960px;
			@media (max-height: 750px) {width: 800px; }
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 1400px) {
			width: 1120px;
			@media (max-height: 840px) {width: 960px; }
			@media (max-height: 750px) {width: 800px; }
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		@media (min-width: 1600px) {
			width: 1280px;
			@media (max-height: 930px) {width: 1120px; }
			@media (max-height: 840px) {width: 960px; }
			@media (max-height: 750px) {width: 800px; }
			@media (max-height: 660px) {width: 640px; }
			@media (max-height: 615px) {width: 560px; }
			@media (max-height: 570px) {width: 480px; }
			@media (max-height: 525px) {width: 400px; }
		}
		p{
			font-size: 16px;
			font-size: 1.6rem;
			text-align: center;
		}
	}
	.video{
		margin: 0 auto;
		width: 288px; height: 162px;
		
		@media (min-width: 420px) {
			width: 400px; height: 225px;
		}
		@media (min-width: 600px) {
			width: 480px; height: 270px;
			@media (max-height: 525px) {width: 400px; height: 225px; }
		}
		@media (min-width: 660px) {
			width: 560px; height: 315px;
			@media (max-height: 570px) {width: 480px; height: 270px; }
			@media (max-height: 525px) {width: 400px; height: 225px; }
		}
		@media (min-width: 840px) {
			width: 640px; height: 360px;
			@media (max-height: 615px) {width: 560px; height: 315px; }
			@media (max-height: 570px) {width: 480px; height: 270px; }
			@media (max-height: 525px) {width: 400px; height: 225px; }
		}
		@media (min-width: 900px) {
			width: 800px; height: 450px;
			@media (max-height: 660px) {width: 640px; height: 360px; }
			@media (max-height: 615px) {width: 560px; height: 315px; }
			@media (max-height: 570px) {width: 480px; height: 270px; }
			@media (max-height: 525px) {width: 400px; height: 225px; }
		}
		@media (min-width: 1100px) {
			width: 960px; height: 540px;
			@media (max-height: 750px) {width: 800px; height: 450px; }
			@media (max-height: 660px) {width: 640px; height: 360px; }
			@media (max-height: 615px) {width: 560px; height: 315px; }
			@media (max-height: 570px) {width: 480px; height: 270px; }
			@media (max-height: 525px) {width: 400px; height: 225px; }
		}
		@media (min-width: 1400px) {
			width: 1120px; height: 630px;
			@media (max-height: 840px) {width: 960px; height: 540px; }
			@media (max-height: 750px) {width: 800px; height: 450px; }
			@media (max-height: 660px) {width: 640px; height: 360px; }
			@media (max-height: 615px) {width: 560px; height: 315px; }
			@media (max-height: 570px) {width: 480px; height: 270px; }
			@media (max-height: 525px) {width: 400px; height: 225px; }
		}
		@media (min-width: 1600px) {
			width: 1280px; height: 720px;
			@media (max-height: 930px) {width: 1120px; height: 630px; }
			@media (max-height: 840px) {width: 960px; height: 540px; }
			@media (max-height: 750px) {width: 800px; height: 450px; }
			@media (max-height: 660px) {width: 640px; height: 360px; }
			@media (max-height: 615px) {width: 560px; height: 315px; }
			@media (max-height: 570px) {width: 480px; height: 270px; }
			@media (max-height: 525px) {width: 400px; height: 225px; }
		}
	}
	.form{
		text-align: center;
		width: 100%;
		form{
			display: inline-block;
		}
		input{
			background: #000000;
			border: 0;
			padding: 15px;
			float: left;
			font-size: 16px;
			font-size: 1.6rem;
			width: 200px;
			
			&:focus{
				outline:none;
			}
			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				color: #ffffff;
				text-transform: uppercase;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: #ffffff;
				opacity: 1;
				text-transform: uppercase;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
				color: #ffffff;
				opacity: 1;
				text-transform: uppercase;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: #ffffff;
				text-transform: uppercase;
			}
		}
		button{
			float: left;
			background: $green;
			text-transform: uppercase;
			color: white;
			padding: 15px;
			font-size: 16px;
			font-size: 1.6rem;
		}
	}

}
