@font-face {
font-family: "Helvetica Neue Light";
src: url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
src: url("../fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),
	 url("../fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),
	 url("../fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),
	 url("../fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face {
font-family: "Futura Medium Condensed";
src: url("../fonts/c9bb15b9-5c4a-477b-8e2d-1924c3ef942d.eot?#iefix");
src: url("../fonts/c9bb15b9-5c4a-477b-8e2d-1924c3ef942d.eot?#iefix") format("eot"),
	 url("../fonts/286ca836-0e48-43ba-9f12-8ba861fafeda.woff") format("woff"),
	 url("../fonts/40e2893b-b4c0-4b91-aa42-4ab0be867d25.ttf") format("truetype"),
	 url("../fonts/275744c1-8dd1-40d7-ae52-17728b66a3dc.svg#275744c1-8dd1-40d7-ae52-17728b66a3dc") format("svg");
}